/*
    Título: Diseño Web - Proyecto Final
    Autor: Nicolás Vergara
    Repositorio: https://github.com/NicoVergara/Proyecto-Final

    Descripción: Este archivo contiene todos los estilos asociados con la página
    y se compila utilizando Sass y envia a la carpeta / css que luego se carga en
    la página.
*/
/*
    Contenido:

        01. Variables
        02. Mixins
        03. Global Styles
        04. Navbar Styles
        05. About Styles
        06. Services Styles
        07. Work Proccess Styles
        08. Our Blog Styles
        09. Newsletter Styles
        10. Contact Styles
        11. Footer Styles
*/

/*
    -------------------------
    ----- 01. Variables -----
    -------------------------
*/

/* Paleta de Colores */
$feather: #77C9d4;

$sleek-grey: #eee;
$icon-grey: #2a2b2f;
$hover-color: #e6e6e6;

/* Gradiente para el fondo */
.linear-gradient {
  background: #8adbdb; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #8adbdb 0%, #344e9b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #8adbdb 0%,#344e9b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #8adbdb 0%,#344e9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8adbdb', endColorstr='#344e9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Tipografía */
$font-body: 'Poppins', Arial, Helvetica, sans-serif;

/*
    -------------------------
    ------ 02. Mixins -------
    -------------------------
*/


/*
    -------------------------
    ----- 03. Global --------
    -------------------------
*/
body {
  font-family: $font-body;
  outline: 0;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #6b6d6f;
  background-color: #fff;
  -webkit-font-smoothing: antialiased!important;
  -webkit-text-size-adjust: 100%!important;
}

ul {
  list-style: none;
  text-decoration: none;
}

.img {
  width: 100%;
  height: auto;
}

.page-section  {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

/*
    -------------------------
    ----- 04. Navbar --------
    -------------------------
*/


/*
    -------------------------
    ----- 05. About ---------
    -------------------------
*/


/*
    -------------------------
    ----- 06. Services ------
    -------------------------
*/
.services {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title-serv {
  padding-top: 20px;
  padding-bottom: 50px;
  font-weight: normal;
  line-height: 20px;
  color: #fff;
}

.box {
  margin-bottom: 50px;
}

.title-content-service {
  position: relative;
  padding: 10px 10px 10px 55px;
  margin-bottom: 5px;
}

.box-icon {
  position: absolute;
  left: 0;
  color: $icon-grey;
  font-size: 35px;
  top:22px;
  color: #fff;
}

.font-title {
  font-size: 18px;
  color: #fff;
}

.tab-text {
  color: #fff;
  p {
    text-align: justify;
  }
}

/*
    -------------------------
    ----- 07. Work ----------
    -------------------------
*/
.back-style-cont {
  background-color: #eee;
  padding: 70px 0;
}

.work-proc2-cont {
  margin: 0 auto;
  max-width: 320px;
  padding: 45px 20px 20px 95px;
  position: relative;

  h3 {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.work-proc2-icon-cont {
  color: #2a2b2f;
  font-size: 60px;
  font-weight: 700;
  left: 0;
  line-height: 60px;
  position: absolute;
  top: 55px;
}

.work-proc2-a-cont {
  margin: 0 auto;
  max-width: 320px;
  position: relative;

  a {
    color: black;
  }

  .work-proc2-a {
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
  }

  .border-bot {
    border-bottom: 3px solid black;
  }
}

/*
    -------------------------
    ----- 08. Our Blog ------
    -------------------------
*/

/*
    -------------------------
    ----- 09. Newsletter ----
    -------------------------
*/

/*
    -------------------------
    ----- 10. Contact -------
    -------------------------
*/
.contact {
  padding: 70px 0 120px 0;
}

.section-title-contact {
  padding-top: 20px;
  padding-bottom: 50px;
  font-weight: normal;
  line-height: 20px;
  color: #2a2b2f;
}

.ci-content {
  position: relative;
  padding-left: 65px;
}

.ci-icon {
  position: absolute;
  top: 20px;
  left: 0;
  color: #6b6d6f;
  font-size: 35px;
}

.ci-text {
  padding: 16px 0 18px;
}

.ci-text h3 {
  color: #2a2b2f;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.ci-text p {
  margin: 0;
  font-size: 13px;
}

#contact-form{
  margin-top: 10px;

  textarea {
    margin-top: 10px;
  }
}

.form-control{
  border-radius: 0;
  height: auto;
  box-shadow: none !important;
}

input, textarea, select, .login-select, .form-control {
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0px;
  background: transparent;
  color: #8d8d98;
  font-size: 13px;
  margin: 0;
  outline: medium none;
  padding: 8px 20px 8px 0;
}

.send-button {
  font-size: 13px;
  color: #fff;
  background-color: #5c71af;
  padding: 10px 37px;
  margin-top: 40px !important;
  display: inline-block;
  outline: none;
  position: relative;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.5px;

  &:hover{
    background-color: $sleek-grey;
    color: $icon-grey;
  }
}

/*
    -------------------------
    ----- 11. Footer --------
    -------------------------
*/
.footer {
  padding: 80px;
}

.footer-social {
  padding-bottom: 7px;

  a {
    padding: 9px !important;
    font-size: 16px;
    color: #fff;
    text-decoration: none;

    &:hover{
      color: $hover-color;
    }
  }
}

.right {
  float: right;
}

.footer-icon {
  font-size: 14px;
  color: $icon-grey;

  p {
    color: #fff;
  }
}

.left {
  float: left;
}
